@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@500;700&family=Lato:ital,wght@0,700;1,400&family=Poppins:wght@500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0 none;
  outline: 0 none;
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;
  --hind: "Hind Madurai", sans-serif;
  color: var(--color-font);
}

body {
  background-image: url("./assets/hendrix-bg.jpg");
  background-repeat: no-repeat;
  background-position: -25em -15em;
  color: var(--color-font);
  /*light theme */
  --color-font: #222222;
  --color-background: #fff;
}

/*dark theme */
@media (prefers-color-scheme: dark) {
  body {
    --color-font: #cccccc;
    --color-background: #181a1b;
  }
}

/* to toggle dark mode on site */
.light-theme {
  --color-font: #222222;
  --color-background: #fff;
}

ul {
  list-style: none inside;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: var(--poppins);
}

h2,
h3 {
  font-family: var(--lato);
}

p,
button,
li,
input {
  font-family: var(--hind);
}

.main-cont,
.input-cont {
  display: flex;
  flex-direction: column;
}

.main-cont {
  background-color: var(--color-background);
  clip-path: polygon(57% 0, 100% 0, 100% 100%, 0 100%, 0 70%);
  z-index: 1;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 100vh;
}

@keyframes polygon {
  0% {
    clip-path: polygon(40% 0, 100% 0, 100% 100%, 0 100%, 0 30%);
  }
  100% {
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 100%, 0 0%);
  }
}

.no-clip-path {
  animation: polygon 500ms 1 forwards ease-in-out;
}

.input-cont {
  gap: 0.5rem;
}

@media (min-width: 768px) {
  :root {
    font-size: calc(1rem + ((1vw - 9.68px) * 0.6944));
  }
}
/* Prevent scaling beyond this breakpoint */
@media (min-width: 1921px) {
  :root {
    font-size: 24px;
  }

  body {
    background-position: -18em -10em;
  }
}
