.recommendation-cont {
  display: flex;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  width: 75%;
  animation: fadein 500ms 1 forwards ease-in-out;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.recommendation-cont > div {
  align-items: center;
  gap: 1rem;
}

.recommendation-cont > p {
  font-size: 18px;
}

.spot {
  height: 1.2rem;
}
